.home {
    background-color: #181818;
    margin-left: 232px;
    width: 100%;
    padding-top: 56px;
    &.left {
        margin-left: 0px;
        .categories {
            .list {
                padding-left: 100px;
            }
        }
        .list {
            .list__item {
                width: 343.783px;
                .list__link {
                    .list__thumbnail {
                        width: 100%;
                        height: 192.9px;
                    }
                }
            }
        }
    }
    .categories {
        display: flex;
        align-items: center;
        width: 100%;
        height: 56px;
        border-top: 1px solid rgb(55, 55, 55);
        border-bottom: 1px solid rgb(55, 55, 55);
        background-color: #202020;
        box-sizing: border-box;
        .list {
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
            margin: 0;
            width: 100%;
            height: 100%;
            .list__item {
                color: white;
                background-color: rgb(55, 55, 55);
                border-radius: 16px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 27px;
                width: max-content;
                padding: 2px 15px;
                border: 1px solid rgb(75, 75, 75);
                border-radius: 16px;
                cursor: pointer;
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        list-style: none;
        margin-top: 26px;
        margin-left: 56px;
        gap: 15px;
        row-gap: 41px;
        .list__item {
            width: 359.983px;
            height: 302.483px;
            .list__link {
                .list__thumbnail {
                    width: 100%;
                    height: 201.983px;
                    object-fit: cover;
                }
            }
            .data {
                display: flex;
                margin-top: 8px;
                gap: 12.5px;
                .data__avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 3000px;
                    object-fit: contain;
                }
                .details {
                    .data__title {
                        text-decoration: none;
                        color: white;
                        font-family: "Roboto","Arial",sans-serif;
                        font-size: 16px;
                        line-height: 1.5;
                        font-weight: 500;
                        max-height: 50px;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        white-space: normal;
                    }
                    .metadata {
                        color: #aaa;
                        .metadata__user-name {
                            line-height: 1.8;
                        }
                        .video-data {
                            line-height: 1;
                            .video-data__visualizations {
                                &::after {
                                    content: "•";
                                    margin: 0 4px;
                                }
                            }
                            .video-data__time-ago {

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .home {
        &.left {
            .categories {
                .list {
                    padding-left: 0;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    height: 50px;
                    flex-wrap: nowrap;
                    .list__item {
                    }
                }
            }
            .list {
                padding-left: 0;
                margin: 0;
                justify-content: center;
                .list__item {
                    .list__link {
                        .list__thumbnail {
                        }
                    }
                    .data {
                        .data__avatar {
                        }
                        .details {
                            .data__title {
                            }
                            .metadata {
                                .metadata__user-name {
                                }
                                .video-data {
                                    .video-data__time-ago {
    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}