.search-results {
    display: flex;
    gap: 24px;
    background-color: #181818;
    width: 100%;
    padding-top: 125px;
    padding-left: 524px;
    box-sizing: border-box;
    .list {
        display: flex;
        flex-direction: column;
        gap: 17px;
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        width: 1096px;
        .list__item {
            .list__link {
                display: flex;
                gap: 15.5px;
                text-decoration: none;
                color: white;
                .list__thumbnail {
                    min-width: 360px;
                    height: 202px;
                    object-fit: cover;
                }
                .data {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: -.5px;
                    .list__title {
                        font-size: 18px;
                        line-height: 1.45;
                        max-height: 100px;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        white-space: normal;
                    }
                    .statistics {
                        color: #aaa;
                        font-size: 12px;
                        margin-top: -3px;
                        margin-bottom: 9px;
                        .list__meta {
                            &:after {
                                content: " • ";
                            }
                        }
                    }
                    .channel {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .data__avatar {
                            width: 24px;
                            height: 24px;
                            border-radius: 3000px;
                        }
                        .list__channel-name {
                            margin-top: 5px;
                            color: #aaa;
                            font-size: 12px;
                        }
                    }
                    .list__description {
                        color: #aaa;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 899px) {
    .search-results {
        padding-left: 0;
        padding-top: 80px;
        .list {
            .list__item {
                .list__link {
                    flex-direction: column;
                    .data {
                        padding: 10px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}