html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #202020;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

body #root {
  height: 100%;
}

body .app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.sidebar {
  width: 232px;
}

.sidebar .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar .sections .primary {
  border-bottom: 1px solid #383838;
  height: 146px;
}

.sidebar .sections .primary .list .list__link:nth-child(1) {
  background-color: #383838;
  font-weight: 500;
}

.sidebar .sections .secundary {
  margin-top: -2px;
  border-bottom: 1px solid #383838;
  height: 226px;
}

.sidebar .sections .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.sidebar .sections .list .list__link {
  width: 100%;
  cursor: pointer;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar .sections .list .list__link:hover {
  background-color: #383838;
}

.sidebar .sections .list .list__link .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  height: 40px;
}

.sidebar .sections .list .list__link .list__item:nth-child(3) {
  margin-bottom: 10px;
}

.sidebar .sections .list .list__link .list__item .list__icon {
  width: 24px;
  height: auto;
  fill: white;
}

.sidebar .sections .subscriptions {
  margin-top: 2px;
}

.sidebar .sections .subscriptions .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 24px;
}

.sidebar .sections .subscriptions .list .list__title {
  color: #aaa;
  font-weight: 500;
  letter-spacing: .5px;
}

.sidebar .sections .subscriptions .list .list__link {
  padding-left: 0px;
  padding-top: 8px;
}

.sidebar .sections .subscriptions .list .list__link .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.sidebar .sections .subscriptions .list .list__link .list__item .list__avatar {
  background-color: red;
  width: 24px;
  height: 24px;
  border-radius: 3000px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 54px;
  width: 100vw;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .start .burger-button {
  width: 48px;
  margin-top: 6px;
  margin-left: 8px;
}

.navbar .start .burger-button .burger-button__icon {
  width: 24px;
  height: auto;
  fill: white;
}

.navbar .start .youtube-icon {
  margin-top: 1px;
  width: 90px;
  height: 20px;
  fill: white;
}

.navbar .center .searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .center .searcher .searcher__input {
  margin-left: 3px;
  width: 573px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #121212;
  border: 1px solid #303030;
  color: rgba(255, 255, 255, 0.88);
  padding-left: 11px;
  padding-bottom: 0px;
  font-size: 16px;
  margin-top: 2px;
  font-family: 'Roboto','Noto',sans-serif;
}

.navbar .center .searcher .searcher__button {
  width: 63px;
  height: 40px;
  background-color: #323232;
  border: none;
  margin-top: 2px;
  cursor: pointer;
}

.navbar .center .searcher .searcher__button .seacher__icon {
  width: 24px;
  height: auto;
  fill: white;
  margin-top: 3px;
  margin-right: 1px;
}

.navbar .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 225px;
}

.navbar .end .user-avatar {
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 3000px;
}
/*# sourceMappingURL=index.css.map */