@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

body #root {
  height: 100%;
}

body .app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.home {
  background-color: #181818;
  margin-left: 232px;
  width: 100%;
  padding-top: 56px;
}

.home .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  list-style: none;
  margin-top: 26px;
  margin-left: 56px;
  gap: 15px;
  row-gap: 41px;
}

.home .list .list__item {
  width: 359.983px;
  height: 302.483px;
}

.home .list .list__item .list__link .list__thumbnail {
  width: 100%;
  height: 201.983px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .list .list__item .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  gap: 12.5px;
}

.home .list .list__item .data .data__avatar {
  width: 36px;
  height: 36px;
  border-radius: 3000px;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .list .list__item .data .details .data__title {
  text-decoration: none;
  color: white;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  max-height: 50px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}

.home .list .list__item .data .details .metadata {
  color: #aaa;
}

.home .list .list__item .data .details .metadata .metadata__user-name {
  line-height: 1.8;
}

.home .list .list__item .data .details .metadata .video-data {
  line-height: 1;
}

.home .list .list__item .data .details .metadata .video-data .video-data__visualizations::after {
  content: "•";
  margin: 0 4px;
}

.sidebar {
  width: 232px;
  height: 100%;
  position: fixed;
  top: 54px;
  bottom: -120px;
  left: 0;
  background-color: #202020;
}

.sidebar.disable {
  display: none;
}

.sidebar .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar .sections .primary {
  border-bottom: 1px solid #383838;
  height: 146px;
}

.sidebar .sections .primary .list .list__link:nth-child(1) {
  background-color: #383838;
  font-weight: 500;
}

.sidebar .sections .secundary {
  margin-top: -2px;
  border-bottom: 1px solid #383838;
  height: 226px;
}

.sidebar .sections .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.sidebar .sections .list .list__link {
  width: 100%;
  cursor: pointer;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
}

.sidebar .sections .list .list__link:hover {
  background-color: #383838;
}

.sidebar .sections .list .list__link .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  height: 40px;
}

.sidebar .sections .list .list__link .list__item:nth-child(3) {
  margin-bottom: 10px;
}

.sidebar .sections .list .list__link .list__item .list__icon {
  width: 24px;
  height: auto;
  fill: white;
}

.sidebar .sections .subscriptions {
  margin-top: 2px;
}

.sidebar .sections .subscriptions .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 24px;
}

.sidebar .sections .subscriptions .list .list__title {
  color: #aaa;
  font-weight: 500;
  letter-spacing: .5px;
}

.sidebar .sections .subscriptions .list .list__link {
  padding-left: 0px;
  padding-top: 8px;
}

.sidebar .sections .subscriptions .list .list__link .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.sidebar .sections .subscriptions .list .list__link .list__item .list__avatar {
  background-color: red;
  width: 24px;
  height: 24px;
  border-radius: 3000px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 54px;
  width: 100vw;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #202020;
}

.navbar .start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .start .burger-button {
  width: 48px;
  margin-top: 6px;
  margin-left: 8px;
}

.navbar .start .burger-button .burger-button__icon {
  width: 24px;
  height: auto;
  fill: white;
}

.navbar .start .youtube {
  width: 90px;
  height: 20px;
  fill: white;
}

.navbar .start .youtube .youtube-icon {
  margin-top: 1px;
}

.navbar .center .searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .center .searcher .searcher__input {
  margin-left: 3px;
  width: 573px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #121212;
  border: 1px solid #303030;
  color: rgba(255, 255, 255, 0.88);
  padding-left: 11px;
  padding-bottom: 0px;
  font-size: 16px;
  margin-top: 2px;
  font-family: 'Roboto','Noto',sans-serif;
}

.navbar .center .searcher .searcher__button {
  width: 63px;
  height: 40px;
  background-color: #323232;
  border: none;
  margin-top: 2px;
  cursor: pointer;
}

.navbar .center .searcher .searcher__button .seacher__icon {
  width: 24px;
  height: auto;
  fill: white;
  margin-top: 3px;
  margin-right: 1px;
}

.navbar .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 225px;
}

.navbar .end .user-avatar {
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 3000px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 56px;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #373737;
  background-color: #202020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.categories .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

.categories .list .list__item {
  color: white;
  background-color: #373737;
  border-radius: 16px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 15px;
  border: 1px solid #4b4b4b;
  border-radius: 16px;
  cursor: pointer;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  background-color: #181818;
  width: 100%;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1280px;
}

.video .left .player {
  width: 100%;
  height: 720px;
  background-color: red;
}

.video .left .video-info {
  width: 100%;
  height: 74px;
  margin-top: 20px;
  border-bottom: 1px solid #303030;
}

.video .left .video-info .title-container .video__title {
  font-size: 18px;
  font-weight: 400;
}

.video .left .video-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3.2;
}

.video .left .video-info .info .statistics {
  color: #aaa;
}

.video .left .video-info .info .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 24px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
  padding-right: 6px;
}

.video .left .video-info .info .actions .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  fill: white;
}

.video .left .video-info .info .actions .likes .likes__icon {
  width: 24px;
  height: 24px;
}

.video .left .video-info .info .actions .dislikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  fill: white;
}

.video .left .video-info .info .actions .dislikes .dislikes__icon {
  width: 24px;
  height: 24px;
}

.video .left .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #303030;
}

.video .left .meta .channel-icon-container .channel-icon {
  width: 48px;
  height: auto;
  border-radius: 3000px;
}

.video .left .meta .meta-info {
  width: 100%;
  height: 166px;
}

.video .left .meta .meta-info .channel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 8px;
}

.video .left .meta .meta-info .channel-info .channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video .left .meta .meta-info .channel-info .channel .channel__name {
  font-weight: 500;
}

.video .left .meta .meta-info .channel-info .channel .channel__suscribers {
  color: #aaa;
  font-size: 12px;
  line-height: 1.9;
}

.video .left .meta .meta-info .channel-info .channel-options {
  padding-right: 4px;
}

.video .left .meta .meta-info .channel-info .channel-options .channel-options__suscribe {
  background-color: #c00;
  border: none;
  color: white;
  width: 128px;
  height: 37px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
  font-family: "Roboto", "Arial", sans-serif;
  margin-top: -1px;
}

.video .left .meta .meta-info .channel-info .channel-options .channel-options__suscribe .channel-options__text {
  padding-left: 1px;
}

.video .left .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  margin-top: 25px;
}

.video .left .comments .total-comments {
  font-size: 16px;
}

.video .left .comments .create-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.video .left .comments .create-comment .user-icon {
  width: 40px;
  height: auto;
  border-radius: 3000px;
}

.video .left .comments .create-comment .create-comment__input {
  color: white;
  width: 100%;
  height: 25px;
  background-color: #181818;
  border: none;
  border-bottom: 1px solid #717171;
  outline: none;
  font-size: 14px;
  margin-top: -5px;
  margin-left: 5px;
  letter-spacing: .2px;
  padding-bottom: 2px;
}

.video .left .comments .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-left: 0;
  margin-top: 32px;
  list-style: none;
}

.video .left .comments .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.video .left .comments .list .list__item .list__icon {
  width: 40px;
  height: 40px;
  border-radius: 3000px;
}

.video .left .comments .list .list__item .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-top: 3px;
}

.video .left .comments .list .list__item .data .data__channel {
  font-size: 13px;
  font-weight: 500;
}

.video .left .comments .list .list__item .data .data__channel .data__timeago {
  font-weight: 300;
  font-size: 12px;
  color: #aaa;
  padding-left: 1px;
}

.video .left .comments .list .list__item .data .list__comment {
  margin-top: 3px;
}

.video .left .comments .list .list__item .data .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-size: 12px;
  color: #aaa;
  margin-top: 9px;
}

.video .left .comments .list .list__item .data .options .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.video .left .comments .list .list__item .data .options .like .likes__icon {
  width: 16px;
  height: 16px;
  fill: white;
}

.video .left .comments .list .list__item .data .options .dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video .left .comments .list .list__item .data .options .dislike .dislikes__icon {
  width: 16px;
  height: 16px;
  fill: white;
}

.video .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 402px;
}

.video .right .video-categories .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video .right .video-categories .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #303030;
  border: 1px solid #434343;
  padding: 6px 12.5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 16px;
  font-size: 14px;
}

.video .right .video-categories .list .list__item .list__category {
  margin-top: 1px;
  letter-spacing: .2px;
}

.video .right .related-videos .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  list-style: none;
  padding-left: 0;
}

.video .right .related-videos .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.video .right .related-videos .list .list__item .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 226px;
}

.video .right .related-videos .list .list__item .data .list__title {
  font-weight: 500;
  line-height: 1.5;
}

.video .right .related-videos .list .list__item .data .list__channel-name {
  color: #aaa;
  font-size: 12px;
}

.video .right .related-videos .list .list__item .data .list__meta {
  color: #aaa;
  font-size: 12px;
  line-height: 1.5;
  margin-top: -3px;
}
/*# sourceMappingURL=index.css.map */